<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <title>closed school</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="HTML5 website template">
    <meta name="keywords" content="global, template, html, sass, jquery">
    <meta name="author" content="Bucky Maler">
    <link rel="stylesheet" href="./static/bootstrap/assets/css/main.css">




    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        figure#map_size{

            padding-left: 20%;
            padding-top: 5%;
            height: 60%;
            width: 60%;
        }
            .folium_map {
            padding-top: 100px;
            padding-left: 10%;
            height: 110%;
            width: 60%;
            float: left;

        }

        .box_h {
            padding-top: 100px;
            width: 20%;
            height: 90%;
            float: left;
            margin-left: 1px;
        }

    </style>
</head>


<body>
    <div class="perspective effect-rotate-left">
        <div class="container">
            <div class="outer-nav--return"></div>
            <div id="viewport" class="l-viewport">
                <div class="l-wrapper">
                    <header class="header">
                        <a class="header--logo" href="http://127.0.0.1:8000/">
                            <img src="./static/bootstrap/assets/img/icon-school.png" alt="Global">
                            <p>CLOSED SCHOOL</p></a>



                    </header>
                    <nav class="l-side-nav">
                        <ul class="side-nav">

                            <li class="is-active side_nav"><span>Home</span></li>
                            <li class="side_nav"><span id="for_developer">Developers</span></li>
                            <li><span id="for_hypo_1">hypothesis 1</span></li>
                            <li><span id="for_hypo_1_1">hypothesis 1_1</span></li>
                            <li><span id="for_hypo_1_2">hypothesis 1_2</span></li>
                            <li><span id="for_hypo_2">hypothesis 2</span></li>
                            <li><span id="for_hypo_3">hypothesis 3</span></li>
                            <li><span id="for_result">Result</span></li>
                        </ul>
                    </nav>
                    <ul class="l-main-content main-content">
                        <li class="l-section section section--is-active">
                            <div class="intro">
                                <div class="intro--banner">
                                    <h1>closed<br>school</h1>
                                    <!--메인화면 개발자 페이지이동 버튼-->
                                    <button id="developer">Developers
                                        <svg version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                                            <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                                                <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                                            </g>
                                        </svg>
                                        <span class="btn-background"></span>
                                    </button>

                                    <script>
                                        const for_developer = document.getElementById("for_developer")
                                        const developer = document.getElementById("developer");
                                        developer.addEventListener("click", function() {
                                            for_developer.click();
                                        });
                                    </script>


                                    </br>
                                    </br>
                                    <!--메인화면 노션 페이지이동 버튼-->
                                    <button onclick="window.open('https://aerial-okapi-469.notion.site/Closed_School-ef376ec1a42b4e45a0d1f2c86ee41c94?pvs=4')">Notion
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                                            <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                                                <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                                            </g>
                                        </svg>
                                        <span class="btn-background"></span>
                                    </button>
                                    <img src="./static/bootstrap/assets/img/introduction-visual.png" alt="Welcome">
                                </div>
                                <!--메인 홈페이지 맨 밑에 부분-->
                                <div class="intro--options">
                                    <a href="#0" id="hypo_1">
                                        <script>
                                            const for_hypo_1 = document.getElementById("for_hypo_1")
                                            const hypo_1 = document.getElementById("hypo_1");
                                            hypo_1.addEventListener("click", function() {
                                                for_hypo_1.click();
                                            });
                                        </script>
                                        <h3>가설1</h3>
                                        <p>가설1의 핵심 문구</p>
                                    </a>
                                    <a href="#0" id="hypo_2">
                                        <script>
                                            const for_hypo_2 = document.getElementById("for_hypo_2")
                                            const hypo_2 = document.getElementById("hypo_2");
                                            hypo_2.addEventListener("click", function() {
                                                for_hypo_2.click();
                                            });
                                        </script>
                                        <h3>가설2</h3>
                                        <p>가설2의 핵심 문구</p>
                                    </a>
                                    <a href="#0" id="hypo_3">
                                        <script>
                                            const for_hypo_3 = document.getElementById("for_hypo_3")
                                            const hypo_3 = document.getElementById("hypo_3");
                                            hypo_3.addEventListener("click", function() {
                                                for_hypo_3.click();
                                            });
                                        </script>
                                        <h3>가설3</h3>
                                        <p>가설3의 핵심 문구</p>
                                    </a>
                                    <a href="#0" id="result">
                                        <script>
                                            const for_result = document.getElementById("for_result")
                                            const result = document.getElementById("result");
                                            result.addEventListener("click", function() {
                                                for_result.click();
                                            });
                                        </script>
                                        <h3>결론</h3>
                                        <p>결론의 핵심 문구</p>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!--section별-->
                        <li class="l-section section">
                            <!--개발자들 소개-->
                            <div class="work">
                                <h2>Developer</h2>
                                <div class="work--lockup">
                                    <ul class="slider">
                                        <li class="slider--item slider--item-left">
                                            <a href="#0">
                                                <div class="slider--item-image">
                                                    <img src="./static/bootstrap/assets/img/work-victory.jpg" alt="Victory">
                                                </div>
                                                <p class="slider--item-title">강나영</p>
                                                <p class="slider--item-description">작업내용~~</p>
                                            </a>
                                        </li>
                                        <li class="slider--item slider--item-center">
                                            <a href="#0">
                                                <div class="slider--item-image">
                                                    <img src="./static/bootstrap/assets/img/work-metiew-smith.jpg" alt="Metiew and Smith">
                                                </div>
                                                <p class="slider--item-title">오영환</p>
                                                <p class="slider--item-description">작업내용~~</p>
                                            </a>
                                        </li>
                                        <li class="slider--item slider--item-right">
                                            <a href="#0">
                                                <div class="slider--item-image">
                                                    <img src="./static/bootstrap/assets/img/work-alex-nowak.jpg" alt="Alex Nowak">
                                                </div>
                                                <p class="slider--item-title">윤이현</p>
                                                <p class="slider--item-description">작업내용~~</p>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="slider--prev">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                                            <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                                                <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                                                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                                                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z" />
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="slider--next">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                                            <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                                                <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--가설1-->
                        <li class="l-section section">
                            <div class="about">
                                <div class="about--banner">
                                    <h2>We<br>believe in<br>passionate<br>people</h2>
                                    <a href="#0">Career
                                        <span>
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                                                <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                                                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                                                </g>
                                            </svg>
                                        </span>
                                    </a>
                                    <img src="./static/bootstrap/assets/img/about-visual.png" alt="About Us">
                                </div>
                                <div class="about--options">
                                    <a href="#0">
                                        </script>
                                        <h3>Winners</h3>
                                    </a>
                                    <a href="#0">
                                        <h3>Philosophy</h3>
                                    </a>
                                    <a href="#0">
                                        <h3>History</h3>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!-- 가설 1-1-->
                        <li class="l-section section">
                            <div class="about">
                                <div class="about--banner">
                                    <h2>We<br>believe in<br>passionate<br>people</h2>
                                    <a href="#0">Career
                                        <span>
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                                                <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                                                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                                                </g>
                                            </svg>
                                        </span>
                                    </a>
                                    <img src="./static/bootstrap/assets/img/about-visual.png" alt="About Us">
                                </div>
                                <div class="about--options">
                                    <a href="#0">
                                        <h3>Winners</h3>
                                    </a>
                                    <a href="#0">
                                        <h3>Philosophy</h3>
                                    </a>
                                    <a href="#0">
                                        <h3>History</h3>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!-- 가설 1-2-->
                        <li class="l-section section">
                            <div class="about">
                                <div class="about--banner">
                                    <h2>We<br>believe in<br>passionate<br>people</h2>
                                    <a href="#0">Career
                                        <span>
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                                                <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                                                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                                                </g>
                                            </svg>
                                        </span>
                                    </a>
                                    <img src="./static/bootstrap/assets/img/about-visual.png" alt="About Us">
                                </div>
                                <div class="about--options">
                                    <a href="#0">
                                        <h3>Winners</h3>
                                    </a>
                                    <a href="#0">
                                        <h3>Philosophy</h3>
                                    </a>
                                    <a href="#0">
                                        <h3>History</h3>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!--가설2-->
                        <!--가설2-->
                        <li class="l-section section">
                            <div class="contact">
                                <!--부모태그-->
                                <div class="main">
                                    <!--folium_map태그-->
                                    <div class="folium_map" style="padding-top:100px" height="900">
                                        <figure id="map_size">
                                            {{map|safe}}
                                            <details>
                                                <summary> 폐교수치화내용-></summary>
                                                <div>
                                                    test
                                                </div>
                                            </details>
                                        </figure>
                                    </div>
                                    <!--수평막대그래프-->
                                    <div class="box_h" style="padding-top:100px">
                                        <img src="./static/bootstrap/assets/img/폐교연도_별_폐교수.png" alt="폐교연도 별 폐교수" width="450" height="700">
                                    </div>
                                </div>
                            </div>
                        </li>


                        <!--가설3-->

                        <li class="l-section section">
                            <div class="contact">
                                <div class="contact--lockup" style="margin-left:470px">
                                    <img src="./static/bootstrap/assets/img/2008.png" style="width: 500px; height: 500px;"/>
                                    <img src="./static/bootstrap/assets/img/2023.png" style="width: 500px; height: 500px; margin-right: 100px;"/>
                                </div>
                            </div>
                        </li>

                        <!--가설3 끝-->


                        <!--result-->
                        <li class="l-section section">

                    </ul>
                </div>
            </div>
        </div>
        <ul class="outer-nav">
            <li class="is-active">Home</li>
            <li>Developers</li>
            <li>hypothesis 1</li>
            <li>hypothesis 2</li>
            <li>hypothesis 3</li>
            <li>Result</li>
        </ul>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="assets/js/vendor/jquery-2.2.4.min.js"><\/script>')
    </script>
    <script src="./static/bootstrap/assets/js/functions-min.js"></script>
</body>

</html>