<!DOCTYPE html>
{% load static %}




<html lang="ko">

<head>
    <title>closed school</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="HTML5 website template">
    <meta name="keywords" content="global, template, html, sass, jquery">
    <meta name="author" content="Bucky Maler">
    <link rel="stylesheet" href="./static/bootstrap/assets/css/main.css">


    <style>
        .folium_map {
            padding-top: 100px;
            padding-left: 15%;
            width: 55%;
            float: left;
        }

        .box_h_map {
            float: right;
            padding-top: 85px;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .slideshow-container {
            position: relative;
            max-width: 1000px;
        }

        .mySlideDiv {
            display: none;
        }

        .mySlideDiv.active {
            display: block;
        }

        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 16px;
            color: white;
            font-size: 24px;
            border: none;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .prev {
            left: 0;
        }

        .next {
            right: 0;
        }

        .view_code:hover span {
          color: #FFFEFA; /* 호버 시 적용할 색상을 지정하세요 */
        }

    </style>
    <script>
        var slideIndex = 1;
        showSlide(slideIndex);

        // 다음 슬라이드를 보여줍니다.
        function nextSlide() {
            showSlide(slideIndex += 1);
        }


        // 이전 슬라이드를 보여줍니다.
        function prevSlide() {
            showSlide(slideIndex -= 1);
        }

        // 현재 슬라이드를 보여줍니다.
        function showSlide(n) {
            var slides = document.getElementsByClassName("mySlideDiv");
            if (n > slides.length) {
                slideIndex = 1;
            }
            if (n < 1) {
                slideIndex = slides.length;
            }
            for (var i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 1].style.display = "block";
        }
    </script>


</head>


<body>
    <div class="perspective effect-rotate-left">
        <div class="container">
            <div class="outer-nav--return"></div>
            <div id="viewport" class="l-viewport">
                <div class="l-wrapper">
                    <header class="header">
                        <a class="header--logo" href="http://127.0.0.1:8000/">
                            <img src="./static/bootstrap/assets/img/icon-school.png">

                            <p>CLOSED SCHOOL</p>
                        </a>
                        <div class="header--nav-toggle">
                            <span></span>
                        </div>

                        </a>
                    </header>
                    <nav class="l-side-nav">
                        <ul class="side-nav">

                            <li class="is-active side_nav"><span>Home</span></li>
                            <li class="side_nav"><span id="for_developer">Developers</span></li>

                            <li><span id="for_hypo_1">분석 1</span></li>
                            <li><span id="for_hypo_1_1">분석 1-1</span></li>
                            <li><span id="for_hypo_1_2">분석 1-2</span></li>
                            <li><span id="for_hypo_2">분석 2</span></li>
                            <li><span id="for_hypo_3">분석 3</span></li>
                            <li><span id="for_result">결론</span></li>

                        </ul>
                    </nav>
                    <ul class="l-main-content main-content">
                        <li class="l-section section section--is-active">
                            <div class="intro">
                                <div class="intro--banner">
                                    <h1 style="position:relative; z-index:2;">closed<br>school</h1>
                                    <!--메인화면 개발자 페이지이동 버튼-->
                                    <button id="developer" style="position:relative; z-index:2;">Developers
                                        <svg version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                                            <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                                                <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                                            </g>
                                        </svg>
                                        <span class="btn-background"></span>
                                    </button>
                                    <script>
                                        const for_developer = document.getElementById("for_developer")
                                        const developer = document.getElementById("developer");
                                        developer.addEventListener("click", function() {
                                            for_developer.click();
                                        });
                                    </script>
                                    </br>
                                    </br>
                                    <!--메인화면 노션 페이지이동 버튼-->
                                    <button style="position:relative; z-index:2;" onclick="window.open('https://aerial-okapi-469.notion.site/Closed_School-ef376ec1a42b4e45a0d1f2c86ee41c94?pvs=4')" class="btn_main">Notion
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                                            <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                                                <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                                            </g>
                                        </svg>
                                        <span class="btn-background"></span>
                                    </button>
                                    <img src="./static/bootstrap/assets/img/empty-classroom.jpg" style="width:120%;height:110%; position:relative; left:-60px; top:-370px; z-index:1;">
                                </div>
                                <!--메인 홈페이지 맨 밑에 부분-->
                                <div class="intro--options">
                                    <a href="#0" id="hypo_1">
                                        <script>
                                            const for_hypo_1 = document.getElementById("for_hypo_1")
                                            const hypo_1 = document.getElementById("hypo_1");
                                            hypo_1.addEventListener("click", function() {
                                                for_hypo_1.click();
                                            });
                                        </script>
                                        <h3>분석 1</h3>
                                        <p> 입학자 수 VS 출생자 수 </p>
                                    </a>
                                    <a href="#0" id="hypo_2">
                                        <script>
                                            const for_hypo_2 = document.getElementById("for_hypo_2")
                                            const hypo_2 = document.getElementById("hypo_2");
                                            hypo_2.addEventListener("click", function() {
                                                for_hypo_2.click();
                                            });
                                        </script>
                                        <h3>분석 2</h3>
                                        <p> 담임 교사 VS 학생 수 </p>
                                    </a>
                                    <a href="#0" id="hypo_3">
                                        <script>
                                            const for_hypo_3 = document.getElementById("for_hypo_3")
                                            const hypo_3 = document.getElementById("hypo_3");
                                            hypo_3.addEventListener("click", function() {
                                                for_hypo_3.click();
                                            });
                                        </script>
                                        <h3>분석 3</h3>
                                        <p> 연령별 인구 수 </p>
                                    </a>
                                    <a href="#0" id="result">
                                        <script>
                                            const for_result = document.getElementById("for_result")
                                            const result = document.getElementById("result");
                                            result.addEventListener("click", function() {
                                                for_result.click();
                                            });
                                        </script>
                                        <h3>결론</h3>
                                        <p>결론</p>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!--section별-->
                        <li class="l-section section">
                            <!--개발자들 소개-->
                            <div class="work">
                                <h2>Developers</h2>
                                <div class="work--lockup">
                                    <ul class="slider">
                                        <li class="slider--item slider--item-left">
                                            <a href="#0">
                                                <div class="slider--item-image">
                                                    <img src="./static/bootstrap/assets/img/images__3_-removebg-preview.png">
                                                </div>
                                                <p class="slider--item-title">강나영</p>
                                                <p class="slider--item-description">탱커 </p>
                                            </a>
                                        </li>
                                        <li class="slider--item slider--item-center">
                                            <a href="#0">
                                                <div class="slider--item-image">
                                                    <img src="./static/bootstrap/assets/img/누끼.png">
                                                </div>
                                                <p class="slider--item-title">오영환</p>
                                                <p class="slider--item-description">딜러</p>
                                            </a>
                                        </li>
                                        <li class="slider--item slider--item-right">
                                            <a href="#0">
                                                <div class="slider--item-image">
                                                    <img src="./static/bootstrap/assets/img/빵빵이.png">
                                                </div>
                                                <p class="slider--item-title">윤이현</p>
                                                <p class="slider--item-description">서포터 </p>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="slider--prev">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                                            <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                                                <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                                                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                                                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z" />
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="slider--next">
                                        <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                                            <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                                                <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--가설1-->
                        <li class="l-section section">
                            <div class="about">
                                <div class="about--banner">
                                    <h2 style="position:relative; z-index:2"> 분석 1 </h2>
                                    <img src="./static/bootstrap/assets/img/폐교사진.jpg" alt="About Us" style="width:120%; height:110%; opacity:45%;  position:absolute;left:-60px; top:-70px; z-index:1;">
                                </div>
                                <div class="about--options">
                                    <a href="#0" id="hypo_1_1">
                                        <img src="./static/bootstrap/assets/img/프로젝트메인사진1.png" alt="출산율에 따른 초등학교 입학자수 분석" style="width:100%; height:100%;">
                                        <script>
                                            const for_hypo_1_1 = document.getElementById("for_hypo_1_1")
                                            const hypo_1_1 = document.getElementById("hypo_1_1");
                                            hypo_1_1.addEventListener("click", function() {
                                                for_hypo_1_1.click();
                                            });
                                        </script>
                                        <h3>분석 1-1</h3>


                                        <a href="#0" id="hypo_1_2">
                                            <img src="./static/bootstrap/assets/img/1-2img.png" alt="출산율" style="width:100%; height:100%;">
                                            <script>
                                                const for_hypo_1_2 = document.getElementById("for_hypo_1_2")
                                                const hypo_1_2 = document.getElementById("hypo_1_2");
                                                hypo_1_2.addEventListener("click", function() {
                                                    for_hypo_1_2.click();
                                                });
                                            </script>
                                            <h3>분석 1-2</h3>
                                        </a>

                                </div>
                            </div>
                        </li>
                        <!-- 가설 1-1-->
                        <li class="l-section section">
                            <div class="about">
                                <div class="about--banner">

                                    <p style="font-size:35px; align=center; margin-top:10px; "><strong>입학자수와 출생자수는 서로 큰 상관관계가 있다?</strong></p>
                                    <img src="./static/bootstrap/assets/img/가설1.png" alt="출산율에 따른 초등학교 입학자수 분석" style="width:80%; height:80%; margin-bottom: 100px; margin-left: 1000px; align=center;">

                                </div>
                                <div class="about--options">
                                    <a href="#0" id="hypo_1_1_to_1">
                                        <img src="./static/bootstrap/assets/img/폐교사진.jpg" alt="가설1페이지" style="width:100%; height:100%;">
                                        <script>
                                            const hypo_1_1_to_1 = document.getElementById("hypo_1_1_to_1");
                                            hypo_1_1_to_1.addEventListener("click", function() {
                                                for_hypo_1.click();
                                            });
                                        </script>
                                        <h3>분석 1</h3>
                                    </a>

                                    <a href="#0" id="hypo_1_1_to_1_2">
                                        <img src="./static/bootstrap/assets/img/1-2img.png" alt="출산율" style="width:100%; height:100%;">
                                        <script>
                                            const hypo_1_1_to_1_2 = document.getElementById("hypo_1_1_to_1_2");
                                            hypo_1_1_to_1_2.addEventListener("click", function() {
                                                for_hypo_1_2.click();
                                            });
                                        </script>
                                        <h3>분석 1-2</h3>
                                    </a>

                                </div>
                            </div>
                        </li>
                        <!-- 가설 1-2-->
                        <li class="l-section section">
                            <div class="about">
                                <div class="about--banner">

                                    <p style="font-size:35px; align=center; margin-top:10px; "><strong>교사 한명당 담당하는 학생수가 줄고 있다.?</strong></p>
                                    <img id="student_per" src="./static/bootstrap/assets/img/범례수정사진.png" style="width:80%; height:80%; margin-bottom: 100px; margin-left: 1000px;">
                                </div>
                                <div class="about--options">
                                    <a href="#0" id="hypo_1_2_to_1">
                                        <img src="./static/bootstrap/assets/img/폐교사진.jpg" alt="메인페이지" style="width:100%; height:100%;">
                                        <script>
                                            const hypo_1_2_to_1 = document.getElementById("hypo_1_2_to_1");
                                            hypo_1_2_to_1.addEventListener("click", function() {
                                                for_hypo_1.click();
                                            });
                                        </script>
                                        <h3>분석 1</h3>
                                    </a>
                                    <a href="#0" id="hypo_1_2_to_1_1">
                                        <img src="./static/bootstrap/assets/img/프로젝트메인사진1.png" alt="출산율에 따른 초등학교 입학자수 분석" style="width:100%; height:100%;">
                                        <script>
                                            const hypo_1_2_to_1_1 = document.getElementById("hypo_1_2_to_1_1");
                                            hypo_1_2_to_1_1.addEventListener("click", function() {
                                                for_hypo_1_1.click();
                                            });
                                        </script>
                                        <h3>분석 1-1</h3>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!--가설2-->
                        <li class="l-section section">
                            <div class="contact">
                                <!--부모태그-->
                                <div class="main">
                                    <!--folium_map태그-->

                                    <div class="folium_map" style="height:600px;">
                                        <figure id="map_size">
                                            {{map|safe}}
                                        </figure>
                                        <details>
                                            <summary style="padding-left: 50px;"> 코드👇 </summary>
                                            <div style="padding-left: 50px;">
                                                <button onclick="window.open('https://www.notion.so/bb137e7e4b2045f689516bdb8382a648')" class="view_code" style="text-decoration:none; color:#A19E9D; background-color:transparent; border:none;">
                                                  <span style="transition: color 0.3s;">↪ 코드 확인</span>
                                                </button>

                                            </div>
                                        </details>

                                    </div>
                                    <!--수평막대그래프-->
                                    <div>
                                        <img src="./static/bootstrap/assets/img/폐교연도_별_폐교수.png" alt="폐교연도 별 폐교수" class="box_h_map" style="width:30%; height:600px;">
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!--가설3-->
                        <li class="l-section section">
                            <div class="contact">
                                <h2 style="text-align: center; margin-top: 200px;">연령별 비교 그래프</h2>
                                    <div class="contact--lockup" style="margin-left:800px; ">
                                        <img src="./static/bootstrap/assets/img/2008.png" style="width: 600px; height: 480px; margin-left:900px;  margin-bottom:400px;" />
                                        <img src="./static/bootstrap/assets/img/2023.png" style="width: 600px; height: 480px; margin-right: 100px; margin-bottom:400px;" />

                                    </div>
                            </div>
                        </li>
                        <!--가설3 끝-->
                        <!--result-->
                        <li class="l-section_ section">
                            <div class="contact">
                                <div class="contact--lockup">
                                    <div class="slideshow-container">

                                        <div class="mySlideDiv fade active">
                                            <img src="./static/bootstrap/assets/img/img (2).png" style="width:80%; height:80%; padding-left:90px;">
                                        </div>

                                        <div class="mySlideDiv fade">
                                            <img src="./static/bootstrap/assets/img/image.png" style="width:720px; height:501px; padding-left:90px; padding-right:90px;">
                                        </div>

                                        <div class="mySlideDiv fade">
                                            <img src="./static/bootstrap/assets/img/img3.png" style="width:720px; height:501px; padding-left:90px; padding-right:90px;">
                                        </div>

                                        <a class="prev" onclick="prevSlide()">❮</a>
                                        <a class="next" onclick="nextSlide()">❯</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </li>




        <!--result 끝-->
        </ul>
    </div>
    </div>
    </div>
    <ul class="outer-nav">
        <li class="is-active">Home</li>
        <li>Developers</li>
        <li>분석 1</li>
        <li>분석 1-1</li>
        <li>분석 1-2</li>
        <li>분석 2</li>
        <li>분석 3</li>
        <li>결론</li>
    </ul>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="assets/js/vendor/jquery-2.2.4.min.js"><\/script>')
    </script>
    <script src="./static/bootstrap/assets/js/functions-min.js"></script>

</body>

</html>